{% extends 'dashboard.html' %}

{% block content %}
<div id="special" class="tm-page-content">
    <div class="tm-black-bg tm-contact-text-container">
        <h2 class="tm-text-primary"><center>Pencarian</center></h2>
        <form action="{{ url_for('search') }}" method="GET" class="tm-search-form">
            <input type="text" name="query" class="tm-search-input-large" placeholder="Search..." value="{{ query }}">
            <button type="submit" class="tm-search-button"><i class="fas fa-search tm-page-link-search"></i></button>
        </form>
        {% if query %}
            <h3>Hasil Pencarian untuk "{{ query }}":</h3>
            {% if results %}
                {% for wisata in results %}
                <a href="{{ url_for('detail', place_id=wisata.place_id) }}">
                    <div class="tm-list-item">      
                        <img src="{{ wisata.image }}" alt="{{ wisata.place_name }}" class="tm-list-item-img">
                        <div class="tm-black-bg tm-list-item-text">
                            <h3 class="tm-list-item-name">{{ wisata.place_name }}<span class="tm-list-item-price">{{ wisata.rating }}</span></h3>
                            <p class="tm-list-item-description">
                                {{ wisata.description[:100] }}{% if wisata.description|length > 100 %}...{% endif %}
                            </p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <p>No results found for your search query.</p>
            {% endif %}
        {% endif %}
    </div>
</div>

<style>
    .tm-search-input-large {
        width: 83%; /* Adjust width as per your preference */
        padding: 10px; /* Adjust padding as per your preference */
        font-size: 16px; /* Adjust font size as per your preference */
    }

    .tm-page-link-search {
        margin-right: 7px;
        margin-left: 7px;
        margin-top: 7px;
        margin-bottom: 7px;
        font-size: 1.5rem;
    }
</style>

{% endblock %}
